.ibox3.style2 { position: relative; margin-bottom: 30px;}
.ibox3.style2 .ibox-icon { position: absolute; top: 0; left: 0; height: 100%; margin-right: 15px; padding-right: 20px; border-right: 1px solid; border-right-color: inherit;font-size: 35px;  }
.ibox3.style2 .ibox-icon:before { top: 50%; position: relative; margin-top: -16px; display: block;  }
.ibox3.style2 .ibox-title, .ibox3.style2 .ibox-desc { margin-left: 71px; }
.ibox3.style2 .ibox-title { font-size: 16px; margin-bottom: 10px; line-height: 30px;  }