.zn_woocoomerce_archive .woocommerce .products { margin-bottom: 0; }
.zn_woocoomerce_archive .top-shop-section { float: left; line-height: 34px; margin-bottom: 20px; }
.zn_woocoomerce_archive .top-shop-section .view_all_link { border-left: solid 1px; border-left-color:inherit; padding-left: 10px; margin-left: 7px; }