.zn_client_logos {}
.zn_client_logos .client_container { margin-bottom: 30px; border:1px solid transparent; text-align: center; padding: 10px;}
.zn_client_logos .client_container:hover { border:1px solid; border-color:inherit;  }
.zn_client_logos .client_container img {  display: inline-block; }